.pfp{
    border-radius: 2000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
   

      .fa {
        padding: 200px;
        font-size: 100px;
        width: 100px;
        text-align: center;
        text-decoration: none;
      }
      .large-header {
        position: relative;
        width: 100%;
        background: #111;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        z-index: 1;
     }
     
    
     
     @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 40px;
  background-color:teal;
}

p {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  margin: 0 auto;
}

/* Animation */
.paragraphAni {
  animation: animated-text 4s steps(50,end) 1s 1 normal both,
             animated-cursor 600ms steps(50,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0, 255, 255, 0.75);}
  to{border-right-color: transparent;}
}