.pfp{
    border-radius: 2000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
   

      .fa {
        padding: 200px;
        font-size: 100px;
        width: 100px;
        text-align: center;
        text-decoration: none;
      }
      .large-header {
        position: relative;
        width: 100%;
        background: #111;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        z-index: 1;
     }
     
     .demo .large-header {
        
     }
     
     .main-title {
        position: absolute;
        margin: 0;
        padding: 0;
        color: #F9F1E9;
        text-align: center;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
     }
     
     .demo .main-title {
        text-transform: uppercase;
        font-size: 4.2em;
        letter-spacing: 0.1em;
     }
     
     .main-title .thin {
        font-weight: 200;
     }
     
     @media only screen and (max-width: 768px) {
        .demo .main-title {
           font-size: 3em;
        }
     }
     .typewriter h1 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid orange; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: orange; }
    }
     