.pfp{
    border-radius: 2000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
   

      .fa {
        padding: 400px;
        font-size: 100px;
        width: 100px;
        text-align: center;
        text-decoration: none;
      }
      